<div class="col-8 mx-auto">
  <ul>
    <% @articles.each do |article| %>
      <%= render "article", article: article %>
    <% end %>
  </ul>
  <h5 class="w-100"><%= paginate(@articles) %></h5>
</div>