/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
header {
  background-color: 	#FFBEDA;
  height: 80px;
}

.logo{
  color: black;
}

.logo:hover{
  color: black;
}

.row {
  margin: 0;
}

.header--nav{
  margin:0 0 0 auto;
}

a:hover {
  text-decoration: none;
}

.media {
  position: relative;
  margin: 5px 0;
  border: solid 1px #EEEEEE;
  background-color: rgb(250,250,250);
  color: black;
  z-index: 1;
}

.media img {
  border-right: solid 1px #EEEEEE;
}

.media h5 {
  border-bottom: solid 1px #EEEEEE;
  font-weight: normal;
  background-color: white;
}

.media .article-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-indent:-999px;
  z-index: 2;
}

.media .user-link {
  position: relative;
  z-index: 3;
}

.row h5 .pagination span{
  margin: 0px 2px;
}

 #img_field {
  font-size: 15px;
  margin-top: 10px;
  padding: 5px 8px;
  border: solid 1px #EDBC6C;
  color: #666;
  position: relative;
  padding: 0;
  border-radius: 5px;
  cursor: pointer;
  width: 400px;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fff;
  overflow: hidden;
  box-sizing: border-box;
  transition: 0.3s ease-out;
}

 #img_field i {
  font-size: 100px;
  color: #aaa;
  line-height: 250px;
  transition: 0.3s ease-out;
}

 #img_field i.add {
  display: none;
  font-size: 50px;
  position: absolute;
  top: -90px;
  right: 15px;
}
 
#img_field:hover {
  background-color: #EDBC6C;
  transition: 0.3s ease-out;
  opacity: 0.9;
}
 
#img_field:hover i {
  transition: 0.3s ease-out;
  display: block;
  color: #fff;
}